@import "../../styles/shared.scss";
.ui.menu.top-menu {
    border: none;
    .logo {
        width: $sidebar-left-width; // rem=unit of the root html element, so relative size
    }
    .nav-container {
        justify-content: space-between; /*maximize space between elements*/
        flex-grow: 1;  /*equal size factor for Menu.Menu, meaning the menu spans fully over the vacant spaced*/
        padding: 0;

        .search-input {
            padding-left: 0;
            width: 33&;

            form {
                width: 100%;
            }
        }
    }

    .header-icon {
        color: #a0a0a0;
    }
}
